/*style sheet for the halcyon-tagging project  app -- beta beta beta!*/

body{
	font-family: 'Oswald', 'Helvetica Neue', sans-serif; 
}

.navbar { 
	background-color: rgba(255,255,255,.75); 
	height: 7em;
	z-index: 4;
}

.navbar-header span#about{
	display: block;
	position: fixed;
	top: 15px;
	left: 15px;
	font-size: 5em;
	opacity: .8;
	cursor: pointer;
}

#info{
	position: fixed;
	top: 7em;
	left: 15px;
	font-size: 2em;
	opacity: .9;
	margin: 0 3%;
	background-color: #fff;
	border-bottom: 2px solid #a9b2b1;
	z-index: 99;
}

/*Kate's - og from bootstrap.min.css*/
.navbar-header{
	display: block;
	width: 50%;
	height: 100%;
	margin: 0 25%;
}

.navbar-header a {
	letter-spacing: .3em; 
	display: inline-block; 
	color: #ab2323; 
	font-size: 5em;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #505a61;
}

.navbar-header a:hover {
	border-bottom: 1px solid #ab2323;
}

.navbar-header a h1 {
	text-align: center;
	font-size: .75em;
}

.navbar-header span#beta{
	letter-spacing: 0;
	font-size: .75em;
	color: #c9b2b1;
	font-style: italic;
	opacity: :;
}

.container {
	margin-top: 9%;
}

.years div.inner {
	padding: 5px;
}

div.years a {
	display: inline-block;
	height: 18em;
	width: 18em;
	border: 2px solid #a9b2b1;
	border-radius: 18em;
	margin: 1px;
	color: #A3141B;
}

div.years a:hover{
	border: 2px #ab2323 solid; 
	color:white; 
	text-decoration: none;
	background: url('3522.jpg') top right;
}

a:focus {
	outline: 0;
}

div.years a h1 {

	margin-top: 1em;
	text-align: center;
	font-size: 5em;
}

#tester{
	width: 500px;
	height: 500px;
	border: 1px solid #00f;
	-moz-transition: left 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;
}

div.page { display: none;}

div.page.showing img {
	display: block;
/*	-moz-transition: left 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;
*/	
	margin-left: auto;
	margin-right: auto;
}

div.page img.with-form {
	float: left;
	margin-left: 5%;
}

button.page, .tag-button button {
	position: fixed;
	font-size: 5em;
	top: 3em;
	left: 0em;
	border: 2px solid #a9b2b1;
	margin-bottom: 25px;
	padding: .35em;
	z-index: 99;
}

button.page.left { left: 5%; } 
button.page.right { left: 90%;} 

div.tag-button { z-index: 99;}

.tag-button button{
	top: 6%;
	left: 77%;
	font-size: 2em;
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
}

.tag-button button span{ }

form {
	display: block;
	width: 500px;
}

form.tags.showing {
	position: fixed;
	top: 24%;
	right: 18%;
	width: 19%;
	z-index: 99;
}

@media (max-width: 1370px) {
	
	.navbar-header a.navbar-brand h1{
		width: 100%; 
		font-size: 4em;
		text-align: center;
	}

	.navbar { height: 25%; }

	button.page {
		font-size: 2em;
	}

	div.page-sidebar-1, div.page-sidebar-2{
		display: block;
		position: fixed;
		top: 35%;
		z-index: 99;
	}

	div.page-sidebar-1 { left: 5%; }

	div.page-sidebar-2 { right: 5%;}
}
